@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 15%;
    justify-content: space-around;
    background-color: #4F5D75;
    align-items: center;
    display: flex;
}

h1 {
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
    color: white;
    font-size: 25px;
}

h1::after {
    content: '"';
    font-size: 25px;
    color: #EF8354;
}

h1::before {
    content: '"';
    font-size: 25px;
    color: #EF8354;
}

ul {
    list-style: none;
}

li {
    margin: 10px;
}

.atop {
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
}

button {
    font-size: 10px;
    text-transform: uppercase;
    background-color: #2D3142;
    border: 1px white solid;
    border-radius: 10px;
    padding: 8px;
    color: white;
}

#secAbonnements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titrenosabonnements {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 21px;
    text-align: center;
    margin: 10px;
}

table {
    border: #BFC0C0 solid 1px;
    text-align: center;
    width: 90%;
}

th {
    border: white solid 1px;
    background-color: #4F5D75;
}

.midelinfotabl {
    border: #BFC0C0 solid 1px;
}

.endinfotabl {
    background-color: #4F5D75;
    border: white solid 1px;
}

#blogsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titreblog {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 21px;
    text-align: center;
}

.imgblog {
    width: 100%;
    height: 200px;
}

.articleBlog {
    width: 85%;
    margin-bottom: 35px;
}

.TitreArticleBlog {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
}

.TextArticleBlog {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}

footer {
    background-color: #4F5D75;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

form {
    width: 45%;
}

#fomrulairedecontacttitre {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    margin: 15px;
    text-align: center;
}

#lineveredenschool {
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
    text-align: center;
}

#lieneden {
    font-family: 'Lato', sans-serif;
    color: #EF8354;
}

#info {
    text-align: center;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

#divradio {
    border: solid white 1px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

#divnametmail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#btnradio1 {
    margin: 10px;
}

#btnradio2 {
    margin: 10px;
}

#btnradio3 {
    margin: 10px;
}

#titrevotrejeuprefere {
    font-family: 'Lato', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

#divjeu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

#divmessage {
    display: flex;
    flex-direction: column;
}

.lord {
    border-radius: 20px;
    border: none;
    width: 300px;
    height: 30px;
    margin: 10px;
}

@media (min-width:680px) {

    header {
        width: 100%;
        height: 15%;
        justify-content: space-evenly;
        background-color: #4F5D75;
        align-items: center;
        display: flex;
    }

    div {
        display: flex;
    }

    li {
        display: inline;
    }

    table {
        width: 50%;
    }

    #blogsection {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #titreblog {
        width: 100%;
    }

    .articleBlog {
        width: 40%;
        margin: 40px;
    }

}